services:

  backend:
    image: tushargandhwani/marketing-backend:latest
    container_name: laravel_app
    restart: unless-stopped
    depends_on:
      - mysql
    networks:
      - app-network

  frontend:
    image: tushargandhwani/marketing-frontend:latest
    container_name: react_app
    restart: unless-stopped
    ports:
      - "80:80"
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: marketing
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data: