name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:

  # ---------------- BACKEND TEST ----------------
  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Install Backend Dependencies
        run: |
          cd Backend
          composer install --no-progress --no-interaction

      - name: Setup Environment
        run: |
          cd Backend
          cp .env.example .env
          php artisan key:generate

      - name: Run Tests
        run: |
          cd Backend
          php artisan test


  # ---------------- FRONTEND BUILD CHECK ----------------
  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          cd Frontend
          npm install

      - name: Build Frontend
        run: |
          cd Frontend
          npm run build


  # ---------------- DOCKER BUILD + PUSH ----------------
  docker:
    runs-on: ubuntu-latest
    needs: [backend, frontend]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Images
        run: docker compose build

      - name: Push Docker Images
        run: docker compose push


  # ---------------- AUTO DEPLOY TO EC2 ----------------
  deploy:
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd marketing-app
            docker compose pull
            docker compose up -d
            docker system prune -f